@import url('https://fonts.googleapis.com/css?family=Anton|Josefin+Sans');

:root {
    --spacing: 30px;
    --size: calc(100vmin - var(--spacing));
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    overflow: hidden;
    margin: 0 auto;
    padding:  var(--spacing);
    font-family: 'Josefin Sans', sans-serif;
    color: #545b66;
    background-color: #f9f9f9;
}

/*
* Instructions
*/
.instruction {
    margin: auto;
    padding: var(--spacing);

}

h1 {
    font-family: 'Anton', sans-serif;
}

small {
    font-family: 'Josefin Sans', sans-serif;
}

/*
  Canvas
*/
canvas {
    width: var(--size);
    height: var(--size);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: #ffffff;
}

/*
    Code
*/
code {
    overflow-y: auto;
    max-height: 450px;
    display: block;
    width: 100%;
    padding: 20px;
    border: solid 1px #c9d2e0;
    border-radius: 5px;
}

/*
   Canvas that receives the dropped image
*/
#image {
    display: none;
}

/*
  Dat gui
*/
.dg.main.a {
    float: left !important;
}