:root {
    --canvasSize: 750px;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0 auto;
}

canvas {
    border: dotted #ddd 5px;
    width: var(--canvasSize);
    height: var(--canvasSize);
    margin: 0 auto;
}

#image {
    display: none;
}